$columnwidth: 200px;
$columnnumber: 4;
$gapX: 3;
$gapwidth: 48px;

.catalog {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;

  &__items {
    max-width: $columnwidth * $columnnumber + $gapX * $gapwidth;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 48px;
    margin: 0 40px 76px;
  }
}
